.scroll {
	overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    max-height: calc(100vh - 87px);
}
.mythicUI-fix .scroll{
    max-height: calc(100vh - 127px);
}
.sheet {
    max-height: calc(100vh - 7px);
}
sheet form {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}
section.filepicker-body {
    max-height: 66vh;
    overflow:hidden;
    overflow-y: auto;
}
.mythicUI-fix section.filepicker-body{
     max-height: 61vh;
}
.window-app .window-content {
	    height: 100%;
    max-height: calc(100% - 4px);
}
.filepicker .directory {
	max-height: initial;
}

.scene-sheet.window-app .window-content > * {
    flex: initial;
}
.journal-sheet.window-app .window-content > * {
    flex:1;
}
#module-management.mythicUI-fix {
    max-height: calc(100vh - 7px);
}
#module-management.mythicUI-fix .package-list {
    max-height: calc(100vh - 234px);
}