.scroll {
	overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    max-height: calc(100vh - 93px);
    width: 98%;
    padding-right: 1.3%;
    margin: 0 auto 5px;
}
.mythicUI-fix .scroll{
    max-height: calc(100vh - 127px);
}


section.filepicker-body {
    max-height: 63vh;
    overflow:hidden;
    overflow-y: auto;
}
.mythicUI-fix section.filepicker-body{
     max-height: 61vh;
}
form.mythicUI-fix {
    max-height: 100%;
}
.window-app .window-content {
	    height: 100%;
    max-height: calc(100% - 4px);
}
.filepicker .directory {
	max-height: initial;
}

.scene-sheet.window-app .window-content > * {
    flex: initial;
}
.journal-sheet.window-app .window-content > * {
    flex:1;
}
.window-app{
    max-height: calc(100vh - 8px);
}
#module-management .package-list{
    max-height: calc(100% - 70px);
}
#module-management section.window-content{
    max-height: calc(100% - 16px);
}

#module-management form{
    max-height: calc(100% - 30px);
}
#module-management.mythicUI-fix {
    max-height: calc(100vh - 7px);
}
#module-management.mythicUI-fix .package-list {
    max-height: calc(100vh - 234px);
}
#module-management.culprit-fix {
    min-height: 90vh !important;
    max-height: calc(100vh - 16px);
}
#module-management.culprit-fix .package-list{
    max-height: calc(100% - 104px);
}
#module-management.culprit-fix.tidyUI-fix .package-list {
    max-height: calc(100vh - 236px);
}
#module-management.culprit-fix.mythicUI-fix .package-list {
    max-height: calc(100vh - 276px);
}